/* Поля формы */
input[type="text"], input[type="email"], input[type="password"],
input[type="number"], input[type="date"], textarea, select {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #A3B18A;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus, select:focus {
    outline: 1px solid #C76D4A;
    border-color: #C76D4A;
}

/* Кнопки */
button, input[type="submit"] {
    background-color: #A3B18A;
    color: #243B53;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover, input[type="submit"]:hover {
    background-color: #F5E9D3;
    transform: translateY(-2px);
}

/* Таблица */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 1rem;
    border: 1px solid #C76D4A;
}

tr:nth-child(even) {
    background-color: #F5E9D3;
    color: #243B53;
}

/* Карточка */
.cards{
    grid: repeat(auto-fill, minmax(250px, 1fr));
     flex-wrap: wrap;
      gap: 1rem;

}
.card {
    background-color: #A3B18A;
    color: #243B53;
    border: 2px solid #C76D4A;
    border-radius: 8px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    position: relative;
    
}
.badge{
    position: absolute; 
    top: 10px; 
    right: 10px;
    background-color: #F5E9D3;
    border-radius: 6px;
    z-index: 10;
}

/* Картинка с увеличением при наведении */
.img-abt {
    width: 300px;
    overflow: hidden;
    border-radius: 12px;
}

.img-abt  {
    display: block;
    transition: transform 0.3s ease;
}

.img-abt:hover {
    transform: scale(1.05);
}