

/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./containers.css');
@import url('./layout.css');
@import url('./main-styles.css');
@import url('./nav.css');
@import url('./login.css');
@import url('./header.css');
/* Media Queries to 768px */
@media (max-width: 768px) {
    .page {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "header"
            "sidebar"
            "content"
            "footer";
    }
    .cards{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    nav,footer{
        background-color: #A3B18A;
    color: #243B53;
        align-items: center;
        padding: 0 16px 0 16px;
        text-align: center;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    justify-content:space-between;
    }
    nav a {
        display:none;
    }
    nav button{
        display:block;
        background-color: #A3B18A;
        color: #243B53;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
}